body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url("planet.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#clock-container {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#digital-clock {
  font-size: 24px;
  margin-bottom: 20px;
}

#analog-clock {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid black;
}

#timezone-selector {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

#timezone-selector:hover {
  border-color: #bbb;
}

#timezone-selector:focus {
  border-color: #777;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
